  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <nav>
              <ul class="nav masthead-nav">
                <li class="active">Home</li>
                <li><a href="torneos/">Torneos</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <%= image_tag 'logo_big.png', :class => 'img-responsive' %>
          <p class="lead">Con fUNQui podes crear y administrar tus torneos de futbol de la manera mas simple.</p>
          <p class="lead">
            <a href="registrar/torneo" class="btn btn-lg btn-primary">Registrar un nuevo torneo!</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>fUNQui, by Master Team (Julian Skalic, Leandro Moscheni y Tehuel Torres Baldi). <br/>Elementos de Ingenieria del software, 2014 UNQ.</p>
          </div>
        </div>

      </div>

    </div>

  </div>
