<% form_for(@equipo, "/equipo/update/#{@equipo.id}", :class => "form-horizontal") do |f| %> 

  <fieldset>
  <legend>Registrar nuevo equipo</legend>
    
    <%= partial 'equipo/form', :locals => { :f => f } %>
    
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Guardar", :class => "btn btn-primary" %>
        <%= link_to 'Cancelar', url_for(:equipo, :equipos, :torneo => @torneo.id), :class => "btn btn-danger" %>
      </div>
      </div>
    </div>
  
  </fieldset>
<% end %>